[submodule "kbs3-modality-fork"]
	path = kbs3-modality-fork
	url = https://github.com/nkt-kbs-project/kbs3-modality-fork.git
[submodule "kbs3-webfx-extras-fork"]
	path = kbs3-webfx-extras-fork
	url = https://github.com/nkt-kbs-project/kbs3-webfx-extras-fork.git
[submodule "kbs3-webfx-platform-fork"]
	path = kbs3-webfx-platform-fork
	url = https://github.com/nkt-kbs-project/kbs3-webfx-platform-fork.git
[submodule "kbs2018"]
	path = kbs2018
	url = https://github.com/nkt-kbs-project/kbs2018.git
[submodule "kbs3"]
	path = kbs3
	url = https://github.com/nkt-kbs-project/kbs3.git
[submodule "kbs3-webfx-fork"]
	path = kbs3-webfx-fork
	url = https://github.com/nkt-kbs-project/kbs3-webfx-fork.git
[submodule "kbs3-webfx-stack-fork"]
	path = kbs3-webfx-stack-fork
	url = https://github.com/nkt-kbs-project/kbs3-webfx-stack-fork.git
