[submodule "kbs3"]
	path = kbs3
	url = https://github.com/kadampabookings/kbs3.git
[submodule "kbsx"]
	path = kbsx
	url = https://github.com/kadampabookings/kbsx.git
[submodule "modality-fork"]
	path = modality-fork
	url = https://github.com/kadampabookings/modality-fork.git
[submodule "webfx-extras-fork"]
	path = webfx-extras-fork
	url = https://github.com/kadampabookings/webfx-extras-fork.git
[submodule "webfx-stack-fork"]
	path = webfx-stack-fork
	url = https://github.com/kadampabookings/webfx-stack-fork.git
[submodule "webfx-platform-fork"]
	path = webfx-platform-fork
	url = https://github.com/kadampabookings/webfx-platform-fork.git
[submodule "webfx-fork"]
	path = webfx-fork
	url = https://github.com/kadampabookings/webfx-fork.git
[submodule "webfx-parent-fork"]
	path = webfx-parent-fork
	url = https://github.com/kadampabookings/webfx-parent-fork.git
[submodule "webfx-lib-javacupruntime-fork"]
	path = webfx-lib-javacupruntime-fork
	url = https://github.com/kadampabookings/webfx-lib-javacupruntime-fork.git
[submodule "webfx-stack-parent-fork"]
	path = webfx-stack-parent-fork
	url = https://github.com/kadampabookings/webfx-stack-parent-fork.git
